@font-face {
    font-family:ziad-fonts;
    src: url(../fonts/OleoScriptSwashCaps-Bold.ttf);
}
@font-face {
    font-family:ziad-fonts2 ;
    src: url(../fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:   ziad-fonts;
}

/* -----------------go up icone */
.up{ 
    position: fixed;
    font-size: 12px;
    right: -100px;
    color: rgb(0 0 0/70%);
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 99;
    
}
.show{

    right: 10px;
    top:40%;
}

.first{
    min-height: 80vh;
    /* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    background-image: linear-gradient(to right, #92fe9d 10%, #00c9ff 100%);
    border-radius: 1.6vw;
}
nav{
    width: 100%;
    min-height:5vh;
    overflow: hidden;
}
nav ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
nav ul li{
    
    width: 25%;
    height: 5vh;
    line-height: 5vh;
    float: left;
    text-align: center;
    cursor: pointer;
    transform-style:preserve-3d ;
    transition: all 0.4s ease;
    border-right: 0.1vw solid white;
}
nav ul li:hover{
    transform:translateY(-5px);
}
nav ul li a{
    text-decoration: none;
  
}
a span{
    font-size: 1.6vw;
    color: black;
}
/* -------------------second section-------------- */
.second{
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-flow:column wrap;
    
}
.second div{
    text-align: center;
}
.second h1{
 font-size: 3vw  ;
 color: transparent;
 -webkit-text-stroke: 2px black;
 text-shadow: 0px 0px 30px black ;
}

   
.second a{
    text-decoration: none;
    padding: .8vw;
    display: inline-block;
    border: 0.1vw solid black  ;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 1vw black ;
}
.second a span{
    font-family: ziad-fonts2; 
    font-size: 1.6vw;
  }

/* --------------------second------------- */
.view{
    min-height: 30vh;
    margin-top: 50px;
    padding: 15px;

}
.vewimg{
min-height: 20vh;
overflow: hidden;

}
.vewimg img{
    min-height: 20vh;
    border-radius: 1.6vw;
    transition: all 0.5s;
    cursor: pointer;
}
.vewimg:hover img{
    transform: scale(1.1);

}
/* -----------third section------------------- */
.thrd{
    min-height: 50vh;
    background-color: #d1fdff ;
    margin-top: 50px;

}
.nutrtext{
    min-height: 50vh;
    background-color: #92fe9d;
    
}
.nutrtext span{

        font-family: ziad-fonts2;
}
.thid-image{
    height: 50vh;
    
}
/* -----------------fourth----------------- */
.fourth{
    min-height: 50vh;
    background-color: #d1fdff ;

}
.fourth .nutrtext h2{   
    color: transparent;
    
    font-family: ziad-fonts2;
    -webkit-text-stroke: 2px black;
}
.fourth .nutrtext span{
    
    font-family: ziad-fonts;
}
/* ------------------fifth------ */
.fifth{
    min-height: 80vh;

}
.fifiamge{
    height: 35vh;
    background: url("../images/pexels-polina-tankilevitch-3872370.jpg") center/cover;
}
.fifiamge:nth-child(2){
    height: 35vh;
    background: url("../images/pexels-photomix-company-235294.jpg") center/cover;
}
.fifiamge:nth-child(3){
    height: 35vh;
    background: url("../images/pexels-pixabay-326278.jpg") center/cover;
}
.fifiamge:nth-child(4){
    height: 35vh;
    background: url("../images/pexels-jessica-lewis-creative-992816.jpg") center/cover;
}
.fifiamge:nth-child(5){
    height: 35vh;
    background: url("../images/pexels-andrea-piacquadio-3775164.jpg") center/cover;
}
.fifiamge:nth-child(6){
    height: 35vh;
    background: url("../images/pexels-guduru-ajay-bhargav-863988.jpg") center/cover;
}
.fifiamge:nth-child(7){
    height: 35vh;
    background: url("../images/pexels-pixabay-39308.jpg") center/cover;
}
.fifiamge:nth-child(8){
    height: 35vh;
    background: url("../images/pexels-li-sun-2294361.jpg") center/cover;
}
.fifiamge:nth-child(9){
    height: 35vh;
    background: url("../images/pexels-jéshoots-216951.jpg") center/cover;
}
.fifiamge:nth-child(10){
    height: 35vh;
    background: url("../images/pexels-suzy-hazelwood-1209029.jpg") center/cover;
}
.fifiamge:nth-child(11){
    height: 35vh;
    background: url("../images/pexels-burst-373941.jpg") center/cover;
}
.fifiamge:nth-child(12){
    height: 35vh;
    background: url("../images/pexels-marianna-ole-764925.jpg") center/cover;
}
/* ----------sixth------------------ */
.sixth{
    min-height: 70vh;
    margin-top: 30px;
    border-radius: 17px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.sixth .list{
    height: 70vh;
    font-size: 1.6vw;
}
.sixth .list ul li{
color: blueviolet;
padding: 10px 10px;
margin: 10px 20px;  
list-style-type: '\2661';
}
::marker{
    color: orange;
}
.sixth .siximage{
height: 70vh;
background: url("../images/pexels-leon-ardho-1552101.jpg") center/cover;

}
/* ------------eleventh section ------------------ */
.eleventh {
    min-height: 50vh;
}

.div-cover {
    position: absolute;
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 50vh;
    min-width: 100px;
    right: 20%;
}
.div-cover p{
    font-family: ziad-fonts2;
    font-size: 1.2vw;
}

/* -----------form-------------- */
.ch-form{
    margin: 20px 0px;
}
.ch-form input{
    font-family: ziad-fonts2;
    font-size: 1.2vw;
}
/* -------------footer */
footer {
    min-height: auto;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    text-align: center;
}

.info {
    min-height: 40px;
}

address {
    color: lightgray;
}

address span {
    color: aliceblue;
    font-family: ziad-fonts2;

}

.info p {
    color: aliceblue;
}

.info p span {
    color: lightgray;
    font-family: ziad-fonts2;

}
.info i{
    color: white;
    cursor: pointer;
}

marquee {
    background-color: #000;
    color: aliceblue;
    padding: 15px;
    font-family: ziad-fonts2;

}